openapi: 3.1.0
info:
  title: Google Cloud Composer Environments ImageVersions API
  description: The Cloud Composer API manages Apache Airflow environments on Google Cloud Platform. It provides methods to create, update, and delete environments, query available image versions, and monitor long-running operations.
  version: v1
  contact:
    name: Google Cloud
    url: https://cloud.google.com/composer
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://composer.googleapis.com/v1
  description: Google Cloud Composer API v1
security:
- oauth2: []
tags:
- name: ImageVersions
  description: Operations for listing available image versions
paths:
  /projects/{projectId}/locations/{location}/imageVersions:
    get:
      operationId: listImageVersions
      summary: Google Cloud Composer List image versions
      description: Lists available image versions for Composer environments.
      tags:
      - ImageVersions
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImageVersionsResponse'
components:
  schemas:
    ListImageVersionsResponse:
      type: object
      properties:
        imageVersions:
          type: array
          items:
            type: object
            properties:
              imageVersionId:
                type: string
              isDefault:
                type: boolean
              supportedPythonVersions:
                type: array
                items:
                  type: string
              releaseDate:
                type: object
                properties:
                  year:
                    type: integer
                  month:
                    type: integer
                  day:
                    type: integer
              creationDisabled:
                type: boolean
              upgradeDisabled:
                type: boolean
        nextPageToken:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
externalDocs:
  description: Google Cloud Composer Documentation
  url: https://cloud.google.com/composer/docs/reference/rest
