openapi: 3.1.0
info:
  title: Google Cloud Composer Environments Operations API
  description: The Cloud Composer API manages Apache Airflow environments on Google Cloud Platform. It provides methods to create, update, and delete environments, query available image versions, and monitor long-running operations.
  version: v1
  contact:
    name: Google Cloud
    url: https://cloud.google.com/composer
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://composer.googleapis.com/v1
  description: Google Cloud Composer API v1
security:
- oauth2: []
tags:
- name: Operations
  description: Long-running operation management
paths:
  /projects/{projectId}/locations/{location}/operations:
    get:
      operationId: listOperations
      summary: Google Cloud Composer List operations
      description: Lists operations for the specified project and location.
      tags:
      - Operations
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
  /projects/{projectId}/locations/{location}/operations/{operationId}:
    get:
      operationId: getOperation
      summary: Google Cloud Composer Get an operation
      description: Gets the latest state of a long-running operation.
      tags:
      - Operations
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: operationId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    Operation:
      type: object
      properties:
        name:
          type: string
        metadata:
          type: object
        done:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        response:
          type: object
    ListOperationsResponse:
      type: object
      properties:
        operations:
          type: array
          items:
            $ref: '#/components/schemas/Operation'
        nextPageToken:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
externalDocs:
  description: Google Cloud Composer Documentation
  url: https://cloud.google.com/composer/docs/reference/rest
